@font-face {
  font-family: TT Lakes;
  font-weight: 500;
  font-style: normal;
  src: local("TT Lakes"), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff2) format("woff2"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("ttfsssssssssssssssssssss");
  font-display: swap; }

@font-face {
  font-family: TT Lakes;
  font-weight: 900;
  font-style: normal;
  src: local("TT Lakes"), url(./fonts/TTLakes-Black.eot) format("eot"), url(./fonts/TTLakes-Black.woff2) format("woff2"), url(./fonts/TTLakes-Black.woff) format("woff"), url(./fonts/TTLakes-Black.ttf) format("ttf");
  font-display: swap; }

@font-face {
  font-family: TT Lakes;
  font-weight: 700;
  font-style: normal;
  src: local("TT Lakes"), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-display: swap; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

a {
  color: inherit; }

/* ------------------------------------------320px-------------------------------------- */
/* ------------------------------------------320px-------------------------------------- */
/* ---------------COLORS------------ */
/* ---------------COLORS------------ */
/* ---------------GLOBAL------------ */
/* ---------------GLOBAL------------ */
.site-body {
  display: flex; }

.content {
  font-family: TT Lakes, sans-serif;
  background-color: #F8F8F8;
  color: #1B1C21;
  width: 100vw; }

.container {
  display: flex;
  flex-direction: column;
  max-width: 760px; }

.content__container {
  z-index: 0;
  position: relative;
  padding: 0 16px;
  margin: 0 auto; }

.title {
  font-family: TT Lakes;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px; }

.title__highlight {
  position: relative; }
  .title__highlight::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: -16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }

/* ---------------HEADER------------ */
/* ---------------HEADER------------ */
.header-inner {
  display: flex;
  background-color: white;
  height: 88px; }

.header-inner__container {
  margin: 0 -16px;
  padding: 0 16px;
  width: 100vw; }

.header-inner__burger {
  width: 40px;
  height: 40px;
  margin: 24px auto;
  background: url(./static/burger.svg) no-repeat; }

.header-inner__logo {
  display: inline-block;
  position: relative;
  width: 97px;
  height: 51px;
  background: url(./static/cps-logo.svg) no-repeat;
  margin: 18px auto; }

.header-inner__tools {
  width: 40px;
  height: 40px;
  background: url(./static/tools.svg) no-repeat;
  margin: 24px auto; }

.header-inner__search {
  width: 40px;
  height: 40px;
  background: url(./static/search.svg) no-repeat;
  margin: 24px auto; }

.header-inner__tel, .header-inner__text, .header-inner__chat, .header-inner__profile {
  display: none; }

/* ---------------MAIN------------ */
/* ---------------MAIN------------ */
.heading-box {
  display: flex; }

.heading-box__tools, .heading-box__search {
  display: none; }

.service-list {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  max-width: 700px;
  height: 64px;
  padding-top: 24px; }
  .service-list::-webkit-scrollbar {
    display: none; }

.service-list__item {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  color: #7E7E82;
  width: auto;
  height: 40px;
  padding: 7px 21px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.service-list__item--active {
  flex: none;
  border: 0.5px solid #B8FFEC;
  border-radius: 8px; }

.about-us {
  display: flex;
  flex-direction: column; }

.about-us__paragraph {
  display: block;
  max-width: 90vw;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 24px; }

.about-us__paragraph--second {
  display: none; }

.about-us__anchor {
  position: relative;
  width: 100px;
  padding-left: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }
  .about-us__anchor::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    background: url(./static/blue-arrows.svg) no-repeat; }

.about-us__photo {
  width: 320px;
  height: 176px;
  margin-top: 16px;
  margin-left: -8px; }

/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------768-------------------------------------- */
@media (min-width: 768px) {
  .container {
    max-width: 1110px; }
  .content__container {
    max-width: 1110px;
    margin: 0 auto; }
  /* ---------------------------- */
  .header-inner {
    background-color: white;
    max-width: 1110px; }
  .header-inner__burger {
    position: relative; }
    .header-inner__burger::after {
      content: " ";
      position: absolute;
      background: #EAEAEA;
      width: 2px;
      height: 32px;
      left: 10vw;
      top: 1vh; }
  .header-inner__logo::after {
    display: none; }
  .header-inner__tel {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto 20px;
    background: url(./static/tel.svg) no-repeat; }
  .header-inner__chat {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto 20px;
    background: url(./static/chat.svg) no-repeat; }
  .header-inner__profile {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto 20px;
    background: url(./static/profile.svg) no-repeat; }
  /* -------------------------------- */
  .heading-box__img {
    margin-left: -24px;
    margin-right: 20px; }
  .service-list {
    max-width: 1110px; }
  .about-us__paragraph--second {
    display: block; }
  .about-us__span {
    display: none; }
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: row; }
  .about-us__paragraph {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    max-width: 319px;
    height: 160px;
    margin-top: 0px;
    margin-right: 48px; }
  .about-us__photo {
    max-width: 320px;
    height: 208px;
    margin-top: 15px;
    margin-left: auto;
    border-radius: 5px; } }

/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------MEDIA-------------------------------------- */
/* ------------------------------------------1120-------------------------------------- */
@media (min-width: 1120px) {
  .container {
    max-width: 955px; }
  /* ------------------------- */
  .header-inner {
    display: none; }
  /* ---------------------------------- */
  .title {
    padding-top: 10px;
    padding-right: 250px; }
  .heading-box__tools {
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 80px;
    position: relative;
    display: flex;
    max-width: 950px;
    height: 52px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; }
    .heading-box__tools::after {
      position: absolute;
      content: " ";
      width: 40px;
      height: 40px;
      background: url(./static/tools.svg) no-repeat;
      top: 4px;
      left: 130px; }
  .heading-box__search {
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
    display: flex;
    width: auto;
    height: 52px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; }
    .heading-box__search::after {
      position: absolute;
      content: " ";
      width: 40px;
      height: 40px;
      background: url(./static/tools.svg) no-repeat;
      top: 4px;
      left: 130px; }
  .service-list {
    max-width: 1063px;
    height: 82px;
    overflow-x: visible;
    flex-wrap: wrap;
    padding: 0; }
  .about-us__paragraph {
    max-width: 500px;
    height: 160px;
    margin: 0; }
  .about-us__paragraph--first {
    margin-bottom: 30px; }
  .about-us__paragraph--second span {
    display: inline; }
  .about-us__photo {
    margin: 0;
    margin-left: 36px;
    width: 532px;
    height: 187px; } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------SWIPER-------------------------------------- */
/* ------------------------------------------SWIPER-------------------------------------- */
/* ---------------------320px--------------------- */
/* ---------------------320px--------------------- */
.repair__title-box {
  margin: 32px 0px 16px -16px;
  padding: 16px;
  background-image: linear-gradient(to right, #F8F8F8, white); }

.repair-title {
  color: #7E7E82;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

.swiper-container {
  position: relative;
  width: 240px;
  height: 72px; }

.swiper-slide {
  background-color: white;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  position: relative; }

.logo-lenovo {
  padding: 20px 116px 20px 16px; }

.logo-samsung {
  padding: 17px 108px 17px 8px; }

.logo-apple {
  padding: 12px 108px 12px 12px; }

.logo-view {
  padding: 26px 98px 26px 16px; }

.logo-bosch {
  padding: 22px 96px 22px 16px; }

.logo-hp {
  padding: 10px 178px 10px 10px; }

.logo-acer {
  padding: 24px 130px 24px 16px; }

.logo-sony {
  padding: 23px 98px 23px 14px; }

.repair__swiper-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  content: "";
  width: 40px;
  height: 40px;
  background: url(./static/pink-btn.svg); }

.swiper-horizontal > .swiper-pagination-bullets {
  top: 88px;
  left: 20vw; }

.swiper-pagination.swiper-pagination-horizontal {
  z-index: 1; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px; }

.swiper-pagination-bullet-active {
  background-color: #7E7E82; }

.show-all-btn {
  display: none; }

/* ---------------------768px--------------------- */
/* ---------------------768px--------------------- */
@media (min-width: 768px) {
  .swiper-pagination {
    display: none; }
  .repair {
    height: 240px; }
  .repair_bigger {
    height: 420px; }
  .swiper-container {
    display: flex; }
  .swiper-wrapper {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 15px; }
  .swiper-slide {
    margin-right: 0; }
  .show-all-btn {
    display: block;
    position: relative;
    padding: 0;
    background-color: #F8F8F8;
    color: black;
    width: 140px;
    height: 40px; }
    .show-all-btn::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 30px;
      height: 30px;
      top: 5px;
      bottom: 5px;
      right: 110px;
      background: url(./static/blue-arrows_down.svg) 0px 0px no-repeat; }
  .show-less-btn {
    display: block;
    position: relative;
    padding: 0;
    background-color: #F8F8F8;
    color: black;
    width: 140px;
    height: 40px; }
    .show-less-btn::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 30px;
      height: 30px;
      top: 0px;
      bottom: 5px;
      right: 110px;
      background: url(./static/blue-arrows_down.svg) 0px 0px no-repeat;
      transform: rotate(180deg); }
  .swiper-slide {
    display: block; }
  .repair__swiper-slide_none {
    display: none; } }

/* ---------------------1120px--------------------- */
/* ---------------------1120px--------------------- */
@media (min-width: 1120px) {
  .title {
    margin-right: 140px; }
  .about-us__photo {
    margin-left: 185px; }
  .swiper-pagination {
    display: none; }
  .repair {
    height: 240px; }
  .repair_bigger {
    height: 340px; }
  .swiper-container {
    display: flex; }
  .swiper-wrapper {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px; }
  .show-all-btn {
    display: block;
    position: relative;
    padding: 0;
    background-color: #F8F8F8;
    color: black;
    width: 140px;
    height: 40px; }
    .show-all-btn::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 30px;
      height: 30px;
      top: 5px;
      bottom: 5px;
      right: 110px;
      background: url(./static/blue-arrows_down.svg) 0px 0px no-repeat; }
  .show-less-btn {
    display: block;
    position: relative;
    padding: 0;
    background-color: #F8F8F8;
    color: black;
    width: 140px;
    height: 40px; }
    .show-less-btn::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 30px;
      height: 30px;
      top: 0px;
      bottom: 5px;
      right: 110px;
      background: url(./static/blue-arrows_down.svg) 0px 0px no-repeat;
      transform: rotate(180deg); } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------APPLIENCES SWIPER-------------------------------------- */
/* ------------------------------------------APPLIENCES SWIPER-------------------------------------- */
/* ---------------------320px--------------------- */
/* ---------------------320px--------------------- */
.appliences {
  height: 300px;
  width: 100vw; }

.appliences__title-box {
  margin: 32px 0px 16px -16px;
  padding: 16px 0px 16px 16px;
  background-image: linear-gradient(to right, #F8F8F8, white); }

.appliences-title {
  color: #7E7E82;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

.appliences__swiper-wrapper {
  display: flex;
  gap: 16px; }

.appliences__swiper-slide {
  position: relative;
  width: 100vw;
  height: 72px;
  background-color: white;
  border: 1px solid #EAEAEA;
  border-radius: 5px; }

.swiper-slide.appliences__swiper-slide {
  width: 240px;
  height: 160px;
  padding: 16px 8px 120px 16px; }

.appliences__swiper-pagination.swiper-pagination-horizontal {
  top: 190px;
  left: 20vw;
  z-index: 1; }

.appliences__swiper-pagination-bullet {
  width: 12px;
  height: 12px; }

.appliences__swiper-pagination-bullet-active {
  background-color: #7E7E82; }

.appliences__swiper-btn {
  position: absolute;
  top: 104px;
  right: 16px;
  content: "";
  width: 40px;
  height: 40px;
  background: url(./static/pink-btn.svg); }

@media (min-width: 768px) {
  .appliences__swiper-slide_none {
    display: none; }
  .appliences {
    height: 240px; }
  .appliences_bigger {
    height: 600px; }
  .appliences__swiper-wrapper {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw; }
  .swiper-slide.appliences__swiper-slide {
    width: 30vw; } }

@media (min-width: 1110px) {
  .appliences__swiper-wrapper {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px; }
  .swiper-slide.appliences__swiper-slide {
    width: 240px; } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------PRICES-------------------------------------- */
/* ------------------------------------------PRICES-------------------------------------- */
/* ---------------------320px--------------------- */
/* ---------------------320px--------------------- */
.prices__title-box {
  margin: 32px 0px 16px -16px;
  padding: 16px 0px 16px 16px;
  background-image: linear-gradient(to right, #F8F8F8, white); }

.prices-title {
  color: #7E7E82;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

.prices .swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  align-items: start;
  gap: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  width: 240px;
  height: 200px;
  background-color: #fff;
  padding: 16px; }

.prices__footer {
  font-size: 14px;
  padding: 25px; }

.prices__swiper-btn {
  position: absolute;
  left: 100px;
  bottom: 40px;
  content: "";
  width: 118px;
  height: 32px;
  border-radius: 20px;
  background-color: #FF3E79;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  padding: 10px 40px 10px 12px; }
  .prices__swiper-btn::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    top: 10px;
    bottom: 5px;
    right: -5px;
    background: url(./static/dropdown.svg) no-repeat; }

.prices__description {
  display: inline-block;
  width: 490px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 32px 0 16px 0; }

.prices {
  margin-top: 32px; }

.prices .prices__table-header {
  display: none;
  color: #7e7e82; }

.prices .swiper {
  width: 100%;
  height: 100%; }

.prices .swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  align-items: start;
  gap: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  width: 240px;
  height: 200px;
  background-color: #fff;
  padding: 16px; }

.prices__footer {
  font-size: 14px;
  padding: 25px; }

.prices__swiper-pagination.swiper-pagination-horizontal {
  top: 220px;
  left: 20vw;
  z-index: 1; }

@media (min-width: 769px) {
  .prices__swiper-container {
    display: flex;
    flex-direction: column;
    width: auto; }
  .prices__swiper-container .prices__table-header {
    display: flex;
    flex-direction: row; }
  .prices__swiper-container .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: auto;
    margin-bottom: 10px; }
  .prices__swiper-container .swiper-slide {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 64px;
    text-align: start;
    border: none;
    border-radius: 0; }
  .prices__first-column {
    width: 40%; }
  .prices__second-column {
    width: 20%; }
  .prices__third-column {
    width: 20%; }
  .prices__table-header {
    display: table-header-group;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px; }
  .prices__swiper-btn {
    left: 75vw;
    bottom: 16px; } }

@media (min-width: 600px) {
  .prices__footer {
    width: 420px; }
  .prices__swiper-btn {
    position: absolute;
    left: 70vw;
    bottom: 16px; } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------FOOTER-------------------------------------- */
/* ------------------------------------------FOOTER-------------------------------------- */
/* ---------------------320px--------------------- */
/* ---------------------320px--------------------- */
.footer__info-item {
  color: #7E7E82;
  text-align: center;
  margin-bottom: 16px; }

@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    margin: 0; }
  .footer__info-item {
    margin: 0;
    text-align: center; } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------MODAL-FEEDBACK-------------------------------------- */
/* ------------------------------------------MODAL-FEEDBACK-------------------------------------- */
/* ---------------------MOBILE--------------------- */
/* ---------------------MOBILE--------------------- */
.modal-feedback_closed {
  display: none; }

.modal {
  position: absolute;
  z-index: 2;
  left: 60vw;
  background: white;
  box-shadow: 2px 2px 50px #8b8b8b, 0px 0px 300px 700px rgba(255, 255, 255, 0.9); }

.title-modal {
  display: inline-block;
  width: 230px;
  font-family: TT Lakes;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 0; }

.modal-feedback__container {
  position: relative;
  width: 288px;
  height: 1024px;
  padding: 24px 16px; }

.modal__input {
  font-size: 16px;
  padding: 12px 70px 12px 16px;
  margin-bottom: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 5px; }
  .modal__input .modal__input_first {
    margin-top: 24px; }
  .modal__input .modal__input_last {
    padding-bottom: 82px; }

.modal-feedback__info {
  font-size: 14px;
  width: 270px;
  color: #7E7E82;
  font-size: 14px; }

.pink-text {
  color: #FF3E79; }

.submit-btn {
  position: absolute;
  top: 500px;
  left: 153px;
  bottom: 0px;
  content: "";
  width: 118px;
  height: 32px;
  border-radius: 20px;
  background-color: #FF3E79;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  padding: 8px 40px 10px 15px; }
  .submit-btn::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    top: 12px;
    bottom: 0px;
    left: 97px;
    background: url(./static/dropdown.svg) no-repeat; }

/* ---------------------TABLET&DESCTOP--------------------- */
/* ---------------------TABLET&DESCTOP--------------------- */
@media (min-width: 768px) {
  .title__highlight::after {
    left: -16px; }
  .modal-feedback__container {
    width: 440px;
    padding: 24px 32px; }
  .modal__input {
    font-size: 16px;
    padding: 12px 183px 12px 16px; }
  .modal-feedback__info {
    width: 380px; }
  .submit-btn {
    top: 497px;
    left: 285px;
    bottom: 0px; } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------MODAL-TELEPHONE-------------------------------------- */
/* ------------------------------------------MODAL-TELEPHONE-------------------------------------- */
/* ---------------------MOBILE--------------------- */
/* ---------------------MOBILE--------------------- */
.modal-tel_closed {
  display: none; }

.close-btn {
  position: absolute;
  left: -65px;
  width: 40px;
  height: 40px;
  background: url(./static/pink-close-btn.svg); }

.modal-tel__container {
  width: 288px;
  height: 1024px;
  padding: 24px 16px; }

.modal-tel .modal__input {
  font-size: 16px;
  padding: 12px 70px 12px 16px;
  margin-bottom: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 5px; }

.modal-tel__info {
  font-size: 14px;
  width: 270px;
  color: #7E7E82;
  font-size: 14px; }

.modal-tel .submit-btn:last-of-type {
  position: absolute;
  top: 500px;
  left: 140px;
  bottom: 0px;
  content: "";
  width: 118px;
  height: 32px;
  border-radius: 20px;
  background-color: #FF3E79;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  padding: 8px 40px 10px 15px; }

/* ---------------------TABLET&DESCTOP--------------------- */
/* ---------------------TABLET&DESCTOP--------------------- */
@media (min-width: 768px) {
  .modal-tel .title__highlight {
    margin-left: -16px; }
  .modal-tel__container {
    width: 440px;
    padding: 24px 32px; }
  .modal-tel .modal__input {
    font-size: 16px;
    padding: 12px 183px 12px 16px; }
  .modal-tel__info {
    width: 380px; }
  .modal-tel .submit-btn {
    top: 500px;
    left: 288px;
    bottom: 0px; } }

/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------MODAL-MENU-------------------------------------- */
/* ------------------------------------------MODAL-MENU-------------------------------------- */
/* ---------------------TABLET--------------------- */
/* ---------------------TABLET--------------------- */
/* ----------GLOBAL---------- */
.main-menu_closed {
  display: none; }

.main-menu {
  z-index: 2;
  position: absolute;
  margin-left: -15px;
  width: 320px;
  height: 1024px;
  background: white;
  box-shadow: 2px 2px 50px #8b8b8b, 0px 0px 300px 700px rgba(255, 255, 255, 0.9);
  font-family: TT lakes;
  line-height: 24px;
  color: black; }

.main-menu__container {
  width: 272px;
  margin: 0 24px; }

/* ----------HEADER---------- */
.main-menu__header {
  display: flex;
  height: 90px;
  padding: 20px 0; }

.main-menu__burger-btn {
  width: 40px;
  height: 40px;
  margin: 3px 16px 0 0;
  background: url(./static/burger.svg) no-repeat; }
  .main-menu__burger-btn:hover {
    opacity: 0.6;
    transition: 0.2s; }

.main-menu__logo-img {
  width: 99px;
  height: 51px;
  margin-right: 77px; }
  .main-menu__logo-img:hover {
    opacity: 0.6;
    transition: 0.2s; }

.main-menu__search-btn {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  background: url(./static/search.svg) no-repeat; }
  .main-menu__search-btn:hover {
    opacity: 0.6;
    transition: 0.2s; }

/* ----------MAIN---------- */
.nav-list__item {
  margin-bottom: 24px;
  position: relative; }
  .nav-list__item:hover::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -24px;
    width: 4px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #41F6D7;
    transition: 0.2s; }

.nav-list__item-anchor:hover {
  color: #7E7E82;
  transition: 0.2s; }

.nav-list:first-of-type {
  margin-top: 53px; }

.nav-list__item:last-of-type {
  margin-bottom: 268px; }

/* ----------FOOTER---------- */
.contacts-btns {
  display: flex;
  height: 40px;
  margin-bottom: 16px; }

.contacts-btns__tel {
  margin: 0 16px 0 0;
  width: 40px;
  height: 40px;
  background: url(./static/tel.svg) no-repeat; }
  .contacts-btns__tel:hover {
    opacity: 0.6;
    transition: 0.2s; }

.contacts-btns__chat {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background: url(./static/chat.svg) no-repeat; }
  .contacts-btns__chat:hover {
    opacity: 0.6;
    transition: 0.2s; }

.contacts-btns__profile {
  width: 40px;
  height: 40px;
  background: url(./static/profile.svg) no-repeat;
  margin-right: 60px; }
  .contacts-btns__profile:hover {
    opacity: 0.6;
    transition: 0.2s; }

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  margin-bottom: 40px; }

.contacts-list__email {
  display: inline-block;
  margin-right: 90px;
  margin-bottom: 12px; }

.contacts-list__number {
  display: inline-block;
  line-height: 32px;
  font-weight: 700; }

.langs-list {
  display: flex; }

.lang-list__item {
  display: inline-block;
  margin-right: 7px; }
  .lang-list__item:first-of-type {
    color: #7E7E82; }
  .lang-list__item:last-of-type {
    margin: 0; }


/*# sourceMappingURL=style.css.map*/