@import 'general';

.footer-info {
    margin-top: 57px;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }

    &__item {
        font-size: 14px;
        line-height: 16px;
        display: block;
        width: 90vw;
        color: $grey;
        background-color: $whiteSmoke;
        text-align: center;
        margin-bottom: 16px;

        @media (min-width: 768px) {
                margin: 0;
                width: 30vw;
        }

        @media (min-width: 1100px) {
            margin: 0;
            width: 340px;
        }
    }
}

