/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------FOOTER-------------------------------------- */
/* ------------------------------------------FOOTER-------------------------------------- */
/* ---------------------320px--------------------- */
/* ---------------------320px--------------------- */
@import 'general';
.footer__info {
    margin-top: 24px;

    .footer__info-item {
        font-size: 14px;
        line-height: 16px;
        display: block;
        width: 90vw;
        color: $grey;
        background-color: $whiteSmoke;
        text-align: center;
        margin-bottom: 16px;
        @media (min-width: 768px) {
                margin: 0;
                width: 30vw;
        }
        @media (min-width: 1100px) {
            margin: 0;
            width: 330px;
        }
    }
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}

