@import 'general';

.main-menu {
    z-index: 2;
    position: absolute;
    margin-left: -15px;
    width: 320px;
    height: 676px;
    background: white;
    box-shadow: 2px 2px 50px rgb(139, 139, 139), 0px 0px 300px 700px rgba(255, 255, 255, 0.9);
    font-family: TT lakes;
    line-height: 24px;
    color: black;

    @media (min-width: 768px) {
        height: 1024px;
    }

    @media (min-width: 1400px) {
        left: -308px;
        box-shadow: none;
        height: 1925px;
    }
    
    &--closed {
        display: none;
    
        @media (min-width: 1440px) {
            display: block;
        }
    }
    
    &__container {
        width: 272px;
        margin: 0 24px;
    }

    &__header {
        display: flex;
        height: 90px;
        padding: 20px 0 0 0;

        @media (min-width: 676px) {
            padding: 20px 0;
        }
    }
    
    &__burger-btn {
        width: 40px;
        height: 40px;
        margin: 3px 16px 0 0;
        background: url("../images/burger.svg") no-repeat;

        @media (min-width: 1440px) {
            display: none;
        }

        &:hover {
            opacity: 0.6;
            transition: 0.2s;
        }
    }
        
    &__logo-img {
        width: 99px;
        height: 51px;
        margin-right: 77px;

        @media (min-width: 1440px) {
            margin-right: 118px;
        }

        &:hover {
        opacity: 0.6;
        transition: 0.2s;
        }
    }
        
    &__search-btn {
        width: 40px;
        height: 40px;
        margin-top: 3px;
        background: url("../images/search.svg") no-repeat;
    
        &:hover {
        opacity: 0.6;
        transition: 0.2s;
        }
    }
}

.nav-list {
    &__item {
        margin-bottom: 24px;
        position: relative;
    
        &:hover::after {
            content: "";
            position: absolute;
            top: -10px;
            left: -24px;
            width: 4px;
            height: 40px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background: $lightBlue;
            transition: 0.2s;
        }

        &:first-of-type {
            margin-top: 0px;

            @media (min-width: 768px) {
                margin-top: 28px;
            }
        }
        &:last-of-type {
            margin-bottom: 30px;

            @media (min-width: 768px) {
                margin-bottom: 304px;
            }
        }
    }

    &__item-btn {
        font-size: 16px;
        background-color: white;

        &:hover {
            color: $grey;
            transition: 0.2s;
        }
    }
}

    
.contacts-btns {
    display: flex;
    height: 40px;
    margin-bottom: 16px;

    &__tel {
        margin: 0 16px 0 0;
        width: 40px;
        height: 40px;
        background: url("../images/tel.svg") no-repeat;
    
        &:hover {
        opacity: 0.6;
        transition: 0.2s;
        }
    }

    &__chat {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        background: url("../images/chat.svg") no-repeat;
    
        &:hover {
        opacity: 0.6;
        transition: 0.2s;
        }
    }
    
    &__profile {
        width: 40px;
        height: 40px;
        background: url("../images/profile.svg") no-repeat;
        margin-right: 60px;
    
        &:hover {
        opacity: 0.6;
        transition: 0.2s;
        }
    }
}
        
        
.contacts-list {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        margin-bottom: 90px;
    }

    &__email {
        display: inline-block;
        margin-right: 90px;
        margin-bottom: 12px;
    }
    
    &__number {
        display: inline-block;
        line-height: 32px;
        font-weight: 700;
    }
}

.langs-list {
    display: flex;

    &__item {
        display: inline-block;
        margin-right: 7px;
    
        &:first-of-type {
            color: $grey;
        }
    
        &:last-of-type {
            margin: 0;
        }
    }    
}        

