@import 'general';

.modal {
    position: absolute;
    z-index: 2;
    right: 0vw;
    background: white;
    box-shadow: 2px 2px 50px rgb(139, 139, 139), 0px 0px 300px 700px rgba(255, 255, 255, 0.9);

    @media (min-width: 768px) {
        width: 440px;
        height: 1024px;
        padding: 0;
    }

    @media (min-width: 768px) {
        right: 0px;
    }

    &__input {
        font-size: 16px;
        padding: 12px 70px 12px 16px;
        margin-bottom: 16px;
        border: 1px solid $whisper;
        border-radius: 5px;

        @media (min-width: 768px) {
            font-size: 16px;
            padding: 12px 183px 12px 16px;
        }

        &--first {
            margin-top: 24px;
            }
    
        &--last {
            padding-bottom: 50px;
        }
    }
}


.pink-text {
    color: $pink;
}

.title-modal {
    display: inline-block;
    width: 230px;
    font-family: TT Lakes;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 0;
    padding-bottom: 24px;
}

.submit-btn {
    position: absolute;
    top: 560px;
    left: 153px;
    bottom: 0px;
    content: "";
    width: 118px;
    height: 32px;
    border-radius: 20px;
    background-color: $pink;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    padding: 8px 40px 10px 15px;
    
    @media (min-width: 768px) {
        top: 400px;
        left: 286px;
        bottom: 0px;
    }

    &:after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        top: 12px;
        bottom: 0px;
        left: 97px;
        background: url('../images/dropdown.svg') no-repeat;
    }
}
.submit-btn.submit-feedback {
    top: 550px;
    
    @media (min-width: 768px) {
        top: 480px;
    }
}

.title-modal .title__highlight {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 4px;
        height: 40px;
        background: $lightBlue;
        left: -16px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        @media (min-width: 768px) {
            left: -32px;
        }
    }
}

.modal-feedback {
    &--closed {
        display: none;
    }

    &__container {
        position: relative;
        width: 288px;
        height: 676px;
        padding: 104px 16px;

        @media (min-width: 768px) {
            padding: 24px 32px;
        }
    }

    &__info {
        font-size: 14px;

        @media (min-width: 768px) {
            display: block;
            width: 300px;
        }
    }
}