@import 'general';

.close-btn {
    position: absolute;
    top: 24px;
    width: 40px;
    height: 40px;
    background: url('../images/pink-close-btn.svg');

    @media (min-width: 768px) {
        left: -65px;
    }
}

.modal-tel {
    &__container {
        width: 288px;
        height: 676px;
        padding: 104px 16px;
    
        @media (min-width: 768px) {
            width: 440px;
            height: 1024px;
            padding: 24px 32px;
        }
    }
    
    &__info {
        font-size: 14px;
        width: 270px;
        color: $grey;
        font-size: 14px;

        @media (min-width: 768px) {
            width: 380px;
        }
    }
    
    &--closed {
        display: none;
    }
}

.modal-tel .title__highlight::after {
    @media (min-width: 768px) {
        margin-left: 0px;
    }
}

.modal-tel .modal__input {
    font-size: 16px;
    padding: 12px 70px 12px 16px;
    margin-bottom: 16px;
    border: 1px solid $whisper;
    border-radius: 5px;

    @media (min-width: 768px) {
        font-size: 16px;
        padding: 12px 183px 12px 16px;
    }
}

.submit-btn.submit-tel {
    position: absolute;
    top: 310px;
    right: 0px;
    bottom: 0px;
    content: "";
    width: 118px;
    height: 32px;
    border-radius: 20px;
    background-color: $pink;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    padding: 8px 40px 10px 15px;

    @media (min-width: 768px) {
        top: 190px;
        right: 0px;
        bottom: 0px;
    }
}