/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* =================================================================================================================================== */
/* ------------------------------------------MODAL-FEEDBACK-------------------------------------- */
/* ------------------------------------------MODAL-FEEDBACK-------------------------------------- */
/* ---------------------MOBILE--------------------- */
/* ---------------------MOBILE--------------------- */
@import 'general';
.modal-feedback_closed {
    display: none;
}
.pink-text {
    color: $pink;
}
.modal {
    position: absolute;
    z-index: 2;
    left: 60vw;
    background: white;
    box-shadow: 2px 2px 50px rgb(139, 139, 139), 0px 0px 300px 700px rgba(255, 255, 255, 0.9);
    .modal-feedback__container {
        position: relative;
        width: 288px;
        height: 1024px;
        padding: 104px 16px;
        .title-modal {
            display: inline-block;
            width: 230px;
            font-family: TT Lakes;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.6px;
            margin: 0;
            padding-bottom: 24px;
            .title__highlight::after {
                @media (min-width: 768px) {
                    left: -32px;
                }
            }
        }
        .modal__input {
            font-size: 16px;
            padding: 12px 70px 12px 16px;
            margin-bottom: 16px;
            border: 1px solid $whisper;
            border-radius: 5px;
        
            .modal__input_first {
                margin-top: 24px;
                }
        
            .modal__input_last {
            padding-bottom: 82px;
            }
            @media (min-width: 768px) {
                font-size: 16px;
                padding: 12px 183px 12px 16px;
            }
        }
        .modal-feedback__info {
            font-size: 14px;
            width: 270px;
            color: $grey;
            font-size: 14px;
            @media (min-width: 768px) {
                width: 380px;
            }
        }
        .submit-btn {
            position: absolute;
            top: 500px;
            left: 153px;
            bottom: 0px;
            content: "";
            width: 118px;
            height: 32px;
            border-radius: 20px;
            background-color: $pink;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -0.15px;
            padding: 8px 40px 10px 15px;
            @media (min-width: 768px) {
                top: 497px;
                left: 285px;
                bottom: 0px;
            }
        
            &::after {
            position: absolute;
            display: inline-block;
            content: "";
            width: 24px;
            height: 24px;
            top: 12px;
            bottom: 0px;
            left: 97px;
            background: url('../images/dropdown.svg') no-repeat;
            }
        }
        @media (min-width: 768px) {
            width: 440px;
            padding: 24px 32px;
        }
    }
}