@import 'general';

.prices {
    margin-top: 32px;

    &__title-box {
        margin: 32px 0px 16px -16px;
        padding: 16px 0px 16px 16px;
        background-image: linear-gradient(to right, $whiteSmoke, white);
    }

    &__swiper-btn {
        position: absolute;
        right: 16px;
        bottom: 16px;
        content: "";
        width: 118px;
        height: 32px;
        border-radius: 20px;
        background-color: $pink;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -0.15px;
        padding: 8px 34px 10px 12px;

        @media (min-width: 769px) {
            left: 73vw;
            bottom: 22px;
        }

        @media (min-width: 1110px) {
            left: 912px;
            bottom: 22px;
        }
    
        &:after {
            position: absolute;
            display: inline-block;
            content: "";
            width: 12px;
            height: 12px;
            top: 12px;
            right: 14px;
            background: url('../images/dropdown.svg') no-repeat;
        }
    }
    
    &__description {
        display: inline-block;
        width: 90vw;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        padding: 32px 0 16px 0;

        @media (min-width: 769px) {
            width: 500px;
            padding-top: 50px;
        }
    }

    &__footer {
        font-size: 14px;
        padding: 25px;
    }

    &__first-column {
        text-align: left;
        font-size: 14px;
        margin-bottom: 7px;

        @media (min-width: 769px) {
            width: 71vw;
        }
    }
    
    &__second-column {
        font-size: 14px;
        margin-bottom: 7px;

        @media (min-width: 769px) {
            width: 18vw;
        }
    }
    &__third-column {
        font-size: 14px;

        @media (min-width: 769px) {
            width: 40vw;
        }
    }

    &__span {
        display: block;
        text-align: left;
        color: $grey;
        font-size: 14px;
        margin-bottom: 7px;

        @media (min-width: 769px) {
            display: none;
        }
    }

    &__swiper-container {
        @media (min-width: 769px) {
            display: flex;
            flex-direction: column;
            width: auto;
        }
    }
}

.prices-title {
    display: inline-block;
    width: 90vw;
    color: $grey;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}


.prices .swiper-container {
    height: 220px;

    @media (min-width: 769px) {
        height: 340px;
    }
}
.prices .swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    align-items: start;
    gap: 0px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 240px;
    height: 200px;
    background-color: #fff;
    padding: 0px;
}

.prices .prices__table-header {
    display: none;
    color: #7e7e82; 
}
.prices .swiper {
    width: 100%;
    height: 100%;
}
.prices .swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    align-items: start;
    gap: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 240px;
    height: 200px;
    background-color: #fff;
    padding: 16px;
}
.swiper-container .prices__swiper-pagination.swiper-pagination-horizontal {
    top: 220px;
    left: 20vw;
    z-index: 1;
}
.commercial-btn {
    display: block;
    width: 90vw;
    text-align: left;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    line-height: 8px;
    color: #1b1c21;
    background-color: $whiteSmoke;

    &:after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background-image:  url('../images/pink-dropdown.svg');
        background-repeat: no-repeat;
        background-position: 7px 14px;
    }
}


.prices__swiper-container .prices__table-header {
    @media (min-width: 769px) {
        display: flex;
        flex-direction: row;
        width: 88vw;
    }

    @media (min-width: 1110px) {
        width: 1050px;
    }
}


.prices__swiper-container .swiper-wrapper {
    @media (min-width: 769px) {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: auto;
        margin-bottom: 10px;
    }
}


.prices__swiper-container .swiper-slide {
    @media (min-width: 769px) {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        width: 90vw;
        height: 64px;
        text-align: start;
        border: none;
        border-radius: 0;
    }

    @media (min-width: 1110px) {
        width: 1060px;
    }
}

.prices__table-header {
    @media (min-width: 769px) {
        display: flex;
        text-align: left;
        gap: 16px;
        padding-left: 16px;
        margin-bottom: 10px;
        margin-top: 20px; 
    }
}


