@import 'general';

.repair {
    @media (min-width: 768px) {
        height: 240px;
    }

    @media (min-width: 1110px) {
        height: 270px;
    }

    &__title-box {
        margin: 24px 0px 16px -16px;
        padding: 16px;
        background-image: linear-gradient(to right, $whiteSmoke, white);

        @media (min-width: 1120px) {
            margin-top: 50px;
        }
    }

    &__swiper-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        content: "";
        width: 40px;
        height: 40px;
        background: url("../images/pink-btn.svg");
    }

    .repair__swiper-slide--none {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &--bigger {
        height: 460px;

        @media (min-width: 1120px) {
            height: 370px;
        }
    }
}


.repair-title {
    display: inline-block;
    width: 90vw;
    color: $grey;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.swiper-container {
    position: relative;
    width: 240px;
    height: 72px;

    @media (min-width: 768px) {
        display: flex;
    }
    @media (min-width: 1110px) {
        display: flex;
    }
}

.swiper-slide {
    background-color: white;
    border: 1px solid $whisper;
    border-radius: 5px;
    position: relative;

    @media (min-width: 768px) {
        margin-right: 0;
        display: block;
    }
}

.logo-lenovo {
    padding: 20px 116px 20px 16px;
}

.logo-samsung {
    padding: 17px 108px 17px 8px;
}

.logo-apple {
    padding: 12px 108px 12px 12px;
}

.logo-view {
    padding: 26px 98px 26px 16px;
}

.logo-bosch {
    padding: 22px 96px 22px 16px;
}

.logo-hp {
    padding: 10px 178px 10px 10px;
}

.logo-acer {
    padding: 24px 130px 24px 16px;
}

.logo-sony {
    padding: 23px 98px 23px 14px;
}

.swiper-horizontal > .swiper-pagination-bullets {
    top: 88px;
    left: 20vw;
}

.swiper-pagination.swiper-pagination-horizontal {
    z-index: 1;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: $grey;
}

.show-all-btn {
    display: none;

    @media (min-width: 768px) {
        display: block;
        position: relative;
        padding: 0;
        background-color: $whiteSmoke;
        color: black;
        width: 140px;
        height: 40px;
    
        &:before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 30px;
            height: 30px;
            top: 5px;
            bottom: 5px;
            right: 110px;
            background: url('../images/blue-arrows_down.svg') 0px 0px no-repeat;
        }
    }

    @media (min-width: 1110px) {
        display: block;
        position: relative;
        padding: 0;
        background-color: $whiteSmoke;
        color: black;
        width: 140px;
        height: 40px;
        
        &:before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 30px;
            height: 30px;
            top: 5px;
            bottom: 5px;
            right: 110px;
            background: url('../images/blue-arrows_down.svg') 0px 0px no-repeat;
        }
    }
}

.swiper-pagination {
    @media (min-width: 768px) {
        display: none;
    }

    @media (min-width: 1110px) {
        display: none;
    }
}


.swiper-wrapper {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        gap: 24px;
    }
    @media (min-width: 1110px) {
        display: grid;
        grid-template-columns: 240px 240px 240px 240px;
        gap: 32px;
    }
}

.show-less-btn {
    @media (min-width: 768px) {
        display: block;
        position: relative;
        padding: 0;
        background-color: $whiteSmoke;
        color: black;
        width: 140px;
        height: 40px;
    
        &:before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 30px;
            height: 30px;
            top: 0px;
            bottom: 5px;
            right: 110px;
            background: url('../images/blue-arrows_down.svg') 0px 0px no-repeat;
            transform: rotate(180deg);
        }
    }

    @media (min-width: 1120px) {
        display: block;
        position: relative;
        padding: 0;
        background-color: $whiteSmoke;
        color: black;
        width: 140px;
        height: 40px;
    
        &:before {
            position: absolute;
            display: inline-block;
            content: "";
            width: 30px;
            height: 30px;
            top: 0px;
            bottom: 5px;
            right: 110px;
            background: url('../images/blue-arrows_down.svg') 0px 0px no-repeat;
            transform: rotate(180deg);
        }
    }
}

.title {
    @media (min-width: 1120px) {
        margin-right: 0px;
        padding-right: 414px;
    }
}

.about-us {
    .about-us__photo {
        @media (min-width: 1120px) {
            margin-left: 185px;
        }
    }
}


